
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


body{
    background-image: url("https://img.freepik.com/free-vector/hand-draw-squares-spiral-pattern-kids-blue-pink-mint-yellow-vector-endless-background-pencil-texture-squares-pastel-colors-template-packaging-baby-textile-website-background_501165-132.jpg");
    background-color: #ffffff;
    font-family: monospace, 'Times New Roman';
    margin: 25px 25px 0px 25px;
}

#test_box{
  height: 500px;
  width:500px;
  background-color: aqua;
}
button{
  position: absolute;
  padding: 10px;
  background: rgb(41, 94, 155);
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}

header{
  background-color: rgb(252, 177, 227);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

nav li{
  border: 2px solid rgb(118, 17, 131);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 2px;
  display: inline-block;
  width: 20%;
  border-radius: 15px;
  text-align: center;
}
@media screen and (min-width: 770px){
.grid_homepage{
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  }}

h1{
    font-size: 24px;
    margin: 12px 0;
    color: #5a015a;
    text-align: center;
    font-family: "rubik", monospace, 'Times New Roman';
}

footer{
    background-color: rgb(136, 227, 250);
    padding: 5px 5px;
    margin: 0px 0px 0px 0px;
    }

  a:link{
    text-decoration: none;
    color: black;
  }

  a:visited{color:#000000}

  a.skip{
    background: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute; 
    left: -500px;
  }

.active{
    background-color: rgb(193, 214, 255);
    font-weight: bold;
    border: 3px solid rgb(118, 17, 131);
    text-decoration: underline;
    text-transform: uppercase;
}

.container {
    background-color:  #ffffff;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:2px solid rgb(118, 17, 131);
  }

  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 350px;
    margin-left: 0;
  }


img{
    margin: 12px;
    width: 350px;
    border: 4px solid rgb(107, 199, 211);
    padding: 5px;
    border-radius: 10px;
}

img:nth-child(2n){
    border: 4px solid rgb(235, 89, 248);
}

img:hover{
    filter: grayscale();
    border: 4px solid;
}

@keyframes grow {
  from {
      width: 100px;
      opacity: 0;
      filter: grayscale();
  }
  to {
      width:350px;
      opacity: 1;
      filter: none;
  }
}

.animate{
  animation: grow 5s ease-in;
} 

@media screen and (prefers-reduced-motion: reduce){
  .animate{
      animation: none;
  }
}
p, h1, h2, h3, h4, h5, h6, ol, ul {
    padding: 10px;
    list-style-type: circle;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

  legend{ 
    font-size: 125%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
  }
  

  label {
    display: block;
    position: relative;
    cursor: pointer;
  }

  input, .reason_options, .park_options{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
  }
  
  textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: #38803C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  
  @media screen and (min-width: 770px) {
    form{
      width: 80%;
      margin: 0 auto;
    }
  
    input, .park_options, .reason_options{
      width:80%;
    }
  
    textarea{
      width:80%;
      height: 25vh;
   }
   
   div + label{
      line-height: 25vh;
      vertical-align:top;
   }
  }




